extends layout


block content 

  link(rel='stylesheet', href='css/extensions.css?v=2')
  link(rel='stylesheet', href='css/lekerdezes.css')
  link(rel="icon" type="image/x-icon" href="images/favicon.ico")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat|Slabo+27px")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet")

  link(rel="stylesheet", href="js/datetime/jquery.datetimepicker.min.css")


  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
  script(src="js/datetime/jquery.datetimepicker.full.min.js")
  script(type='text/javascript').
      let inner_projects_array =!{JSON.stringify(projects_array)}
  
  section#felsoresz
    h1 Data query
    p You can request measured data through this page.
    p It currently saves every data that has been measured on the project.


  section#alsoresz
    form(action="lekerdezes/data_query" method="POST")
      label#projektneve(for="projektnev") Name of the project:
      div#select2projectBox
        select(class="js-example-basic-single" name="selectedProject" required)
          option(value="" disabled selected hidden) Please, select a project.
            for project in projects_array
              option(value=project.Name) #{project.Name}
      br
      #dateContainer
        #startDateContainer
          label(for="data_from_date") From:
            br
            input(type="text" name="data_from_date")
        #endDateContainer
          label(for="data_until_date") Until:
          br
          input(type="text" name="data_until_date")
      button#lekeres_gomb(type="submit") Query

  footer
    button#return_button(type="button") Back

  script(type='text/javascript', src='js/adatokcontroller.js')
  script(type='text/javascript', src='js/Query/lekerdezes.js')
  
  

