extends layout


block content 

  link(rel='stylesheet', href='css/extensions.css?v=2')
  link(rel='stylesheet', href='css/plant_growth.css')
  link(rel="icon" type="image/x-icon" href="images/favicon.ico")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat|Slabo+27px")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet")

  link(rel="stylesheet", href="js/datetime/jquery.datetimepicker.min.css")


  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
  script(src="js/datetime/jquery.datetimepicker.full.min.js")
  
  section#felsoresz
    h1 Plant growth analysis
    p On this page you can query data about plant growth.
    p This was calculated through picture-analysis, and it represents fairly accurate data.


  section#alsoresz
    form(action="plant_growth/data_query" method="POST")
      br
      #dateContainer
        #startDateContainer
          label(for="data_from_date") From:
            br
            input(type="text" name="data_from_date")
        #endDateContainer
          label(for="data_until_date") Until:
          br
          input(type="text" name="data_until_date")
      button#lekeres_gomb(type="submit") Query

  footer
    button#return_button(type="button") Back

  script(type='text/javascript', src='js/adatokcontroller.js')
  script(type='text/javascript', src='js/Query/lekerdezes.js')
  